.wrapper {
  padding: 24px;
  height: 100vh;
  background-color: rgb(216 189 189 / 20%);
}

.articles {
  display: grid;
  overflow-y: auto;
  margin: 0 auto;
  border-radius: 16px;
  padding: 24px;
  width: 90%;
  height: calc(100vh - 48px);
  min-height: 400px;
  box-shadow: 0 2px 40px 0 rgb(174 174 174 / 50%);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  transform-style: preserve-3d;
}

@media screen and (max-width: 1400px) {
  .articles {
    width: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 760px) {
  .articles {
    grid-template-columns: 1fr;
  }
}
