.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: rgb(216 189 189 / 20%);
}

.tags {
  // 触发BFC
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 16px;
  padding: 120px;
  width: 90%;
  min-width: 800px;
  height: calc(100vh - 32px - 40px);
  min-height: 400px;
  box-shadow: 0 2px 40px 0 rgb(174 174 174 / 100%);

  // 3d属性
  transform-style: preserve-3d;
  perspective: 999px;
}

.tag {
  float: left;
}

.icon {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
