.wrapper {
  background-color: rgb(216 189 189 / 20%);
}

.header {
  .to_all {
    font-size: 22px;
    line-height: 48px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.users {
  overflow-y: auto;
  margin: 0 auto;
  border-radius: 16px;
  padding: 120px 120px 20px;
  width: 90%;
  height: calc(100vh - 48px);
  min-height: 400px;
  box-shadow: 0 2px 40px 0 rgb(174 174 174 / 50%);
  perspective: 999px;
  transform-style: preserve-3d;
}

.user {
  float: left;
  margin-bottom: 60px;
  border-radius: 16px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;

  >div:not(:last-of-type) {
    padding: 20px;
  }
}

.avatar {
  width: 89px;
  height: 89px;
}

.github {
  font-size: 160px;
  color: #555;
}

.name {
  font-size: 24px;
}

.desc {
  font-size: 22px;
}

.total {
  margin-left: 10px;
  color: #fff;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.contributor {
  font-size: 30px;
}

@media screen and (max-width: 1400px) {
  .users {
    width: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .users {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 920px) {
  .users {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 760px) {
  .users {
    grid-template-columns: 1fr;
  }
}
