.container {
  .logo {
    display: flex;
    overflow: hidden;
    height: 38px;
    align-items: center;
  }

  .svg {
    height: 100%;
    cursor: pointer;
  }

  .logName {
    margin-left: 20px;
    font-weight: 500;
    word-break: keep-all;
  }

  .empty-container {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }

  :global {
    .site-layout {
      .ant-layout-header {
        background-color: #fff;
      }
    }
  }
}
