.container {
  .logo {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
    // .flex-center();
  }

  .empty-container {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }

  :global {
    .site-layout {
      .ant-layout-header {
        background-color: #fff;
      }
    }
  }
}
